<table>
    <tr class="students-table-headers">
        <th>Название компании</th>
        <th>Реквизиты</th>
        <th>Шаблон договора</th>
    </tr>
    <tr>
        <td>
            <div>
                <input type="text" value="Инностудио" name="" id="">
            </div>
        </td>
        <td>
            <div>
                <input type="file" name="" id="">
            </div>
        </td>
        <td>
            <div>
                <input type="file" name="" id="">
            </div>
        </td>
    </tr>
    <tr>
        <td>
             <div>
                <button type="submit">Сохранить</button>
            </div>
        </td>
    </tr>
</table>