<script>
    $(function(){
        $.get("admin/data/companies", function(data){
            let comps = data;
            

            for(let i = 0; i < comps.length; i++)
            {
                let comp = comps[i];
                let name = comp.name;
                let directoreName = comp.directorName;
                let ricvizit = comp.recvizit;
                let naOsnovanii = comp.naOsnovanii;

                let trEl = $("<tr>").attr("id", `comp-${name}`);
                
                
                
                trEl.append(`<td>${name}</td>`);

                trEl.append(`<td>${directoreName}</td>`);

                trEl.append(`<td class="d-none d-sm-table-cell">${naOsnovanii}</td>`);
                

                trEl.append(`<td class="d-none d-md-table-cell">${ricvizit}</td>`);

                $("tbody").append(trEl);

            }
        })
    });
</script>

<main class="d-flex mt-3">
        <ul class="list-group-flush d-none d-lg-block w-sm-50 w-md-25 me-4">
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Groups" class="nav-link text-secondary">Группы</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Specialties" class="nav-link text-secondary">Специальности</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Companies" class="nav-link text-secondary">Компании</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.StTreaties" class="nav-link text-secondary">Шаблоны договоров</a>
            </li>
        </ul>
        <table class="table bg-light">
            <thead>
              <tr>
                <th scope="col">НАЗВАНИЕ КОМПАНИИ</th>
                <th scope="col">РУКОВОДИТЕЛЬ ПРАКТИКИ</th>
                <th class="d-none d-sm-table-cell" scope="col">НА ОСНОВАНИИ</th>
                <th class="d-none d-md-table-cell" scope="col">РЕКВИЗИТЫ</th>
                
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
    </main>