<script>
    $(function(){
        $.get("admin/data/companies", function(data){
            let comps = data;
            

            for(let i = 0; i < comps.length; i++)
            {
                let comp = comps[i];
                let name = comp.name;
                let directoreName = comp.directorName;
                let ricvizit = comp.recvizit;
                let naOsnovanii = comp.naOsnovanii;

                let trEl = $("<tr>").attr("id", `comp-${name}`);
                
                
                let inputNameEl = $("<input>").attr("value", name);
                let nameTdEl = $("<td>").append(inputNameEl);
                trEl.append(nameTdEl);

                let inputDirectorNameEl = $("<input>").attr("value", directoreName);
                let directorNameTdEl = $("<td>").append(inputDirectorNameEl);
                trEl.append(directorNameTdEl);

                let inputNaOsnovaniiEl = $("<input>").attr("value", naOsnovanii);
                let nameNaOsnovaniiTdEl = $("<td>").append(inputNaOsnovaniiEl);
                trEl.append(nameNaOsnovaniiTdEl);
                $(".companies-savebutton").before(trEl);

                let ricvizitElement = $("<textarea>").text(ricvizit);
                let ricvizitElementTdEl = $("<td>").append(ricvizitElement);
                trEl.append(ricvizitElementTdEl);


            }
        })
    });
</script>

<table>
    <tr class="students-table-headers">
        <th>Название компании</th>
        <th>Руководитель практики</th>
        <th>На основани</th>
        <th>Реквизиты</th>
    </tr>
    <tr class="companies-savebutton">
        @* <td>
             <div>
                <button type="submit">Сохранить</button>
            </div>
        </td> *@
    </tr>
</table>