<div>
    <table>
        <tr>
            <td>
                <div class="cell-help-message">Поиск специальности</div>
                <div>
                    <input type="search" name="" id="" placeholder="название специальности">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cell-help-message">Выбирете курс, чтобы найти нужную специльность</div>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>09.02.05 Прикладная Информатика</td>
            <td>
                <div>
                    <button type="button">Удалить</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="cell-help-message">Добавить существующую специльность к курсу</div>
                <div>
                    <input type="text" placeholder="специльность(существующая)" name="" id="">
                </div>
            </td>
            <td>
                <div>
                    <button type="submit">Сохранить</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <button>Следующая</button>
                <button>Назад</button>
            </td>
        </tr>
    </table>
</div>