<script>
    $(function(){
        $.get("/groups", function(data){
            let groups = data;
            for(let i = 0; i < groups.length; i++)
            {
                let group = groups[i];
                let name = group.name;
                let spec = group.speciality.name;
                let facult = group.facultative;
                let practiceStart = new Date(group.practiceStart);
                let practiceEnd = new Date(group.practiceEnd);
                let practiceType = group.practiceType;
                let courseNum = group.courseNum;
                

                let trEl = $("<tr>").attr("id", `group-${name}`);
                
                
                let inputNameEl = $("<input>").attr("value", name);
                let nameTdEl = $("<td>").append(inputNameEl);
                trEl.append(nameTdEl);

                let specOptionObj = $("<option selected/>").text(spec).val(spec);
                let selectSpecEl = $("<select>").append(specOptionObj);
                let tdSpecEl = $("<td>").append(selectSpecEl);
                trEl.append(tdSpecEl);

                let selectFacult = $("<select>")
                    .append("<option value='0'>СПО</option>")
                    .append("<option value='1'>ВО</option>");
                selectFacult.val(facult);
                let tdFacultEl = $("<td>").append(selectFacult);
                trEl.append(tdFacultEl);
                
                let practiceStartDateTimeEl = $("<time>")
                                                .text(practiceStart.toLocaleString('ru', {  weekday: "long",year: "numeric",month: "long", day: "numeric"} ) )
                let tdPrStart = $("<td>").append(practiceStartDateTimeEl);  
                trEl.append(tdPrStart);


                let practiceEnndDateTimeEl = $("<time>")
                                                .text(practiceEnd.toLocaleString('ru', {  weekday: "long", year: "numeric",month: "long", day: "numeric"}))
                let tdPrEnd = $("<td>").append(practiceEnndDateTimeEl);  
                trEl.append(tdPrEnd);

                let practiceTypeEl = $("<select>")
                                        .append("<option value='0'>преддипломная практика</option>")
                                        .append("<option value='1'>учебная практика</option>")
                                        .append("<option value='2'>производственная практика</option>");
                                        
                practiceTypeEl.val(practiceType);
                let tdPracticeEl = $("<td>").append(practiceTypeEl);
                trEl.append(tdPracticeEl);

                let courseNumEl = $("<select>")
                                        .append("<option>1</option>")
                                        .append("<option>2</option>")
                                        .append("<option>3</option>") 
                                        .append("<option>4</option>")
                                        .append("<option>5</option>");             
                courseNumEl.val(courseNum);
                let tdCourseEl = $("<td>").append(courseNumEl);
                trEl.append(tdCourseEl);
                $(".groupse-counters-update").before(trEl);
            }
        });
        
    });
</script>

<div>
    <table class="students-table">
        <tr>
            @* <td>
                <div class="cell-help-message">
                    Поиск групп
                </div>
                <div>
                    <input type="search" name="" id="" placeholder="номер группы">
                </div>
            </td> *@
        </tr>
        <tr class="students-table-headers">
            <th>ГРУППА</th>
            <th>Специальность</th>
            <th>Факультатив</th>
            <th>Начало</th>
            <th>Конец</th>
            <th>Тип практики</th>
            <th>КУРС</th>
        </tr>       
        <tr class="groupse-counters-update">
            @* <td>
                <div>
                    <button type="submit">Уменьшить у всех курс</button>
                </div>
            </td>
            <td>
                <div>
                    <button type="submit">Увеличить у всех курс</button>
                </div>
            </td> *@
        </tr>
        @* <tr>
            <td>
                <div>
                    <button type="submit">Сохранить</button>
                </div>
            </td>
            <td>
                <button>Следующая</button>
                <button>Назад</button>
            </td>    
        </tr> *@
    </table>
</div>