<script>
    $(function(){
        $.get("/groups", function(data){
            let groups = data;
            for(let i = 0; i < groups.length; i++)
            {
                let group = groups[i];
                let name = group.name;
                let spec = group.speciality.name;
                let facult = group.facultative;
                let practiceStart = new Date(group.practiceStart);
                let practiceEnd = new Date(group.practiceEnd);
                let practiceType = group.practiceType;
                let courseNum = group.courseNum;
                

                let trEl = $("<tr>");
                
                trEl.append(`<td>${name}</td>`);

                trEl.append(`<td class="d-none d-sm-table-cell">${spec}</td>`);
                
                let facultString = facult == 0 ? "СПО" : "ВО";
                trEl.append(`<td class="d-none d-lg-table-cell" >${facultString}</td>`);
                
                let practiceStartDateTimeText = practiceStart.toLocaleString('ru', {  weekday: "long",year: "numeric",month: "long", day: "numeric"} );
                trEl.append(`<td>${practiceStartDateTimeText}</td>`);


                let practiceEnndDateTimeText = practiceEnd.toLocaleString('ru', {  weekday: "long", year: "numeric",month: "long", day: "numeric"});
                trEl.append(`<td>${practiceEnndDateTimeText}</td>`);

                
                let practiceTypeText = practiceType == 0 ? "Преддипломная практика" : practiceType == 1 ? "Учебная практика" : "Производственная практика";
                trEl.append(`<td class="d-none d-sm-table-cell">${practiceTypeText}</td>`);

                trEl.append(`<td class="d-none d-lg-table-cell">${courseNum}</td>`);

                $("tbody").append(trEl);
            }
        });
        
    });
</script>

<main class="d-flex mt-3">
        <ul class="list-group-flush d-none d-lg-block w-sm-50 w-md-25 me-4">
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Groups" class="nav-link text-secondary">Группы</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Specialties" class="nav-link text-secondary">Специальности</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Companies" class="nav-link text-secondary">Компании</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.StTreaties" class="nav-link text-secondary">Шаблоны договоров</a>
            </li>
        </ul>
        <table class="table bg-light">
            <thead>
              <tr>
                <th scope="col">ГРУППА</th>
                <th class="d-none d-sm-table-cell" scope="col">СПЕЦИАЛЬНОСТЬ</th>
                <th class="d-none d-lg-table-cell" scope="col">ФАКУЛЬТАТИВ</th>
                <th scope="col">НАЧАЛО</th>
                <th scope="col">КОНЕЦ</th>
                <th class="d-none d-sm-table-cell" scope="col">ТИП ПРАКТКИ</th>
                <th class="d-none d-lg-table-cell" scope="col">КУРС</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
    </main>