<div>
    <table class="students-table">
        <tr>
            <td>
                <div class="cell-help-message">
                    Поиск групп
                </div>
                <div>
                    <input type="search" name="" id="" placeholder="номер группы">
                </div>
            </td>
        </tr>
        <tr class="students-table-headers">
            <th>ГРУППА</th>
            <th>КУРС</th>
            <th>Специальность</th>
        </tr>       
        <tr id=0>
            <td class="group">
                <input type="text" value="547" name="" id="">
            </td>

            <td class="course">
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </td>
            <td class="specialization">
                <select>
                    <option selected>09.02.05 Прикладная Информатика</option>
                    <option>08.01.03 Юрисприденция</option>
                    <option>07.02.03 Экономисты</option>
                </select>
            </td>
            <td>
                <div>
                    <button type="button">Удалить</button>
                </div>
            </td>
        </tr>
        <tr id=-1>
            <td class="group">
                <input type="text" value="537" name="" id="">
            </td>

            <td class="course">
                <select>
                    <option>1</option>
                    <option selected>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </td>
            <td class="specialization">
                <select>
                    <option>09.02.05 Прикладная Информатика</option>
                    <option selected>08.01.03 Юрисприденция</option>
                    <option>07.02.03 Экономисты</option>
                </select>
            </td>
            <td>
                <div>
                    <button type="button">Удалить</button>
                </div>
            </td>
        </tr>
        <tr id=-1>
            <td class="group">
                <input type="text" value="546" name="" id="">
            </td>

            <td class="course">
                <select>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </td>
            <td class="specialization">
                <select>
                    <option>09.02.05 Прикладная Информатика</option>
                    <option>08.01.03 Юрисприденция</option>
                    <option selected>07.02.03 Экономисты</option>
                </select>
            </td>
            <td>
                <div>
                    <button type="button">Удалить</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <button type="submit">Уменьшить у всех курс</button>
                </div>
            </td>
            <td>
                <div>
                    <button type="submit">Увеличить у всех курс</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <button type="submit">Сохранить</button>
                </div>
            </td>
            <td>
                <button>Следующая</button>
                <button>Назад</button>
            </td>    
        </tr>
    </table>
</div>