<script>
    $(function(){
        $.get("admin/data/specialities", function(data)
        {
            let specialities = data;

            for(let i = 0; i < specialities.length; i++)
            {
                let speciality = specialities[i];
                let code = speciality.code;
                let name = speciality.name;
                
                let trEl = $("<tr>").attr("id", `spec-${name}`);

                let inputNameEl = $("<input>").attr("value", name);
                let nameTdEl = $("<td>").append(inputNameEl);
                trEl.append(nameTdEl);

                let inputCodeEl = $("<input>").attr("value", code);
                let codeTdEl = $("<td>").append(inputCodeEl);
                trEl.append(codeTdEl);

                $(".specialities-save").before(trEl);
            }


        });
    });
</script>

<table class="specialities-table">
    
    <tr class="specialities-save">
        @* <td>
            <div>
                <button type="submit">Сохранить</button>
            </div>
        </td> *@
    </tr>
</table>