

<table>
    <tr>
        <td>
            <div class="cell-help-message">
                Поиск специальности
            </div>
            <div>
                <input type="search" name="" id="" placeholder="специальность(поиск)">
            </div>
        </td>
    </tr>
    <tr>
        <th>Название специальности</th>
        <th>Курс</th>
    </tr>   
    <tr>
        <td>
            <div>
                <input type="text" placeholder="специльность(новая)" name="" id="">
            </div>
        </td>
        <td>
            <select>
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </td>
        <td>
            <button>Удалить</button>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <button type="submit">Сохранить</button>
            </div>
        </td>
        <td>
            <button>Следующая</button>
            <button>Назад</button>
        </td>    
    </tr>
</table>