<script>
    $(function(){
        $.get("admin/data/specialities", function(data)
        {
            let specialities = data;

            for(let i = 0; i < specialities.length; i++)
            {
                let speciality = specialities[i];
                let code = speciality.code;
                let name = speciality.name;
                
                let trEl = $("<tr>").attr("id", `spec-${name}`);

                trEl.append(`<td>${code}</td>`);

                trEl.append(`<td>${name}</td>`);

                $("tbody").append(trEl);
            }


        });
    });
</script>

<main class="d-flex mt-3">
        <ul class="list-group-flush d-none d-lg-block w-sm-50 w-md-25 me-4">
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Groups" class="nav-link text-secondary">Группы</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Specialties" class="nav-link text-secondary">Специальности</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Companies" class="nav-link text-secondary">Компании</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.StTreaties" class="nav-link text-secondary">Шаблоны договоров</a>
            </li>
        </ul>
        <table class="table bg-light">
            <thead>
              <tr>
                <th scope="col">КОД</th>
                <th scope="col">СПЕЦИАЛЬНОСТЬ</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
    </main>