@model AdminPageRouteDataModel

<script>
    $(function(){
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const group = urlParams.get('group');
        const url = "/groups/" + group;
        $.get(url, function(data){
            let groupObj = data;
            let groupInSelect;
            let courseInSelect;
            let specInSelect;
            let condType;
            let name;
            let id;
            const ruCollator = new Intl.Collator('ru-RU');
            let students = data.students.sort((a, b) => ruCollator.compare(a, b));
            for(let i = 0; i < students.length; i++)
            {
                let student = students[i];
                id = student.id;
                groupInSelect = groupObj.name;
                courseInSelect = groupObj.courseNum;
                specInSelect = groupObj.speciality.name;
                condType = student.stdCond;
                name = student.fio;

                let trEl = $("<tr>").attr("id", `student-${id}`);

                let inputNameEl = $("<input>").attr("value", name);
                let nameTdEl = $("<td>").attr("id", "student-name-"+id).append(inputNameEl);
                trEl.append(nameTdEl);
                

                let groupOptionObj = $("<option selected/>").text(groupInSelect).val(groupInSelect);
                let selectGroupEl = $("<select>").append(groupOptionObj);
                let groupTdEl = $("<td>").attr("id", "student-group-"+id).append(selectGroupEl);
                trEl.append(groupTdEl);


                let selectCourseEl = $("<select>")
                    .append("<option>1</option>")
                    .append("<option>2</option>")
                    .append("<option>3</option>")
                    .append("<option>4</option>")
                    .append("<option>5</option>");
                selectCourseEl.val(courseInSelect);
                let courseTdEl = $("<td>").attr("id", "student-course-"+id).append(selectCourseEl);
                trEl.append(courseTdEl);


                let specOptionObj = $("<option selected/>").text(specInSelect).val(specInSelect);
                let selectSpecEl = $("<select>").append(specOptionObj);
                let tdSpecEl = $("<td>").attr("id","student-specialization-"+id).append(selectSpecEl);
                trEl.append(tdSpecEl);
                

                let selectCondEl = $("<select>")
                    .append("<option value='0'>Беспл</option>")
                    .append("<option value='1'>Пл</option>");
                selectCondEl.val(condType);
                let tdCondEl = $("<td>").attr("id", "student-cond-"+id);


                let buttonDelEl = $('<button type="button">Удалить</button>').attr("id", "b-del-"+id);
                let tdEl = $("<td>").append(buttonDelEl);
                trEl.append(tdEl);
                $(".students-table-update-buttons").before(trEl);

            }
            
            
            
           


            
        });
    });    
</script>
<option></option>
<div>
    <table  class="students-table" cellspacing="5" cellpadding="10" width="auto">
        <tr class="students-table-headers">
            <th>ФИО</th>
            <th>ГРУППА</th>
            <th>КУРС</th>
            <th>Специальность</th>
            <th>Платная/Бесплатная</th>
        </tr>
        
        <tr class="students-table-update-buttons">
            <td>
                <div>
                    <button type="submit">Сохранить</button>
                </div>
            </td>
        </tr>
    </table>
</div>
