@model AdminPageRouteDataModel

<script>
    $(function(){
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const group = urlParams.get('group');
        const url = "/groups/" + group;
        $.get(url, function(data){
            let groupObj = data;
            let groupInSelect;
            let courseInSelect;
            let specInSelect;
            let condType;
            let name;
            let id;
            const ruCollator = new Intl.Collator('ru-RU');
            let students = data.students.sort((a, b) => ruCollator.compare(a, b));
            for(let i = 0; i < students.length; i++)
            {
                let student = students[i];
                id = student.id;
                groupInSelect = groupObj.name;
                courseInSelect = groupObj.courseNum;
                specInSelect = groupObj.speciality.name;
                condType = student.stdCond;
                name = student.fio;

                let trEl = $("<tr>").attr("id", `student-${id}`);

                
                trEl.append(`<td>${name}</td>`);
                

                trEl.append(`<td>${groupInSelect}</td>`);


                trEl.append(`<td class="d-none d-sm-table-cell">${courseInSelect}</td>`);


                trEl.append(`<td class="d-none d-sm-table-cell">${specInSelect}</td>`);
                

                let condText = condType == 0 ? "Беспл" : "Пл";
                trEl.append(`<td>${condText}</td>`);       

                $("tbody").append(trEl);

            }
            
            
            
           


            
        });
    });    
</script>

<main class="d-flex mt-3">
        <ul class="list-group-flush d-none d-lg-block w-sm-50 w-md-25 me-4">
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Groups" class="nav-link text-secondary">Группы</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Specialties" class="nav-link text-secondary">Специальности</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Companies" class="nav-link text-secondary">Компании</a>
            </li>
            <li class="list-group-item bg-light">
                <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.StTreaties" class="nav-link text-secondary">Шаблоны договоров</a>
            </li>
        </ul>
        <table class="table bg-light">
            <thead>
              <tr>
                <th scope="col">ФИО</th>
                <th scope="col">ГРУППА</th>
                <th class="d-none d-sm-table-cell" scope="col">КУРС</th>
                <th class="d-none d-sm-table-cell" scope="col">СПЕЦИАЛЬНОСТЬ</th>
                <th scope="col">ОСНОВА</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                
              </tr>
            </tbody>
          </table>
    </main>
