@{
    ViewData["Title"] = "TAS";
}


<script src="lib/jquery/dist/jquery.min.js"></script>







@section Header{
    <div class="header-el">
        <input type="search" name="" id="search-query" placeholder="ФИО студента(договор)">
    </div>
    <div class="header-el">
        <a asp-action="Index" asp-controller="Admin" asp-route-pageType="@AdminPageType.Specialties">Админка</a>
    </div>
    <div class="header-el">
        <button id="manyprofilesTreatyId">Сгенерировать многопрофильный договор</button>
    </div>  
    <div class="header-el">
        <select id="companySelectorId">
        </select>
    </div>
}

<div class="header-el">
    <div>
        <input type="file" name="" id="uploadGroupAndStudentsFile" accept=".xls" placeholder="Ученики и группа">
        <button id="uploadGroupAndStudentsButton">Ученики и группа</button>
    </div>
</div>
<div>
    <div>
        <input type="file" name="" id="uploadRekvizitFile" accept=".xls" placeholder="Реквизиты">
        <button id="uploaduploadRekvizitButton">Реквизиты</button>
    </div>
</div>
<div>
    <div>
        <input type="file" name="" id="uploadPracticeDataFile" accept=".xls" placeholder="Данные по практике">
        <button id="uploadPracticeDataButton">Данные по практике</button>
    </div>
</div>


<script>
    $(function(){
        UploadFile("#uploadGroupAndStudentsButton", "#uploadGroupAndStudentsFile", "/files/uploadgroup");
        UploadFile("#uploaduploadRekvizitButton", "#uploadRekvizitFile", "/files/uploadrikvizit");
        UploadFile("#uploadPracticeDataButton", "#uploadPracticeDataFile", "/files/uploadpractic");
        FillCompanySelectorId();
        function FillCompanySelectorId()
        {
            $.get("/companies/", function(data){
                for(let i = 0; i < data.length; i++)
                {
                    let options = $("#companySelectorId");
                    options.append(new Option(data[i], data[i]));
                }
            });
        }
        function ShowMessage(text)
        {
            let el = $("<li></li>").text(text);
            $("#message").html(el);
            $("#message").slideToggle("slow");
            $("#message").delay(3000).slideToggle("slow");
        }
        function UploadFile(buttonId, fileId, urlUpload)
        {
            $(buttonId).click(function(){
            let files = $(fileId)[0].files;
            if(files.length > 0 ){
                let fd = new FormData();
                fd.append("upload_file", true);
                fd.append("file", files[0], files[0].name)
                $.ajax(
                    {
                        url: urlUpload,
                        data: fd,
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            ShowMessage("Данные успешно загружены!");
                            
                        },
                        error: function(textStatus){
                            ShowMessage("): Что-то пошло не так, проверьте файл!");
                        }
                    }
                );
                    
                }
            });
        }
        
        
        let searchResIsShown = false;
        function ChangeSearchResultAnimationAppear(data) {
            if (searchResIsShown) 
            {
                $("#search-result").animate({ left: '500px', opacity: 0 }, 500, "", function() {
                    $("#search-result").text("");
                    for(let i = 0; i < data.length; i++){
                        let contentEl = $("<li></li>").text(`${i+1}.${data[i].name}(${data[i].group})`).addClass("name-s-result");
                        $("#search-result").append(contentEl);
                    }
                });
            }
            $("#search-result").animate({left: '250px', opacity: 1});
        }
        function ChangeSearchResultAnimationDisappear() {
            $("#search-result").animate({left: '0'});
        }
        let searchedStudents;
        function SearchNames(){
            let val = $("#search-query").val();
            if(val){
                let query = "/students/" + val;
                $.get(query,
                function(data){
                    searchedStudents = data;
                    if (!searchResIsShown) {
                        $("#search-result").text("");
                        for(let i = 0; i < data.length; i++){
                            let contentEl = $("<li></li>").text( `${i+1}.${data[i].name}(${data[i].group})`).addClass("name-s-result");
                            $("#search-result").append(contentEl);
                        }
                        $("#search-result").slideDown("slow");
                    }
                    
                    ChangeSearchResultAnimationAppear(data);
                    searchResIsShown = true;
                });
            }
        }
        $("#search-query").click(SearchNames).keypress(function(event){
          var keycode = (event.keyCode ? event.keyCode : event.which);
          if(keycode == '13'){
            SearchNames();  
          }
        });
        $("#search-result").click(function() {
            ChangeSearchResultAnimationDisappear();
            $("#search-result").slideUp("slow");
            searchResIsShown = false;
        });
        $("#manyprofilesTreatyId").click(function(){
            let comp = $( "#companySelectorId" ).val();
            window.location.href = `/files/generatemanyprofile?&companyName=${comp}`;
        });
        $("#search-result").on("click", ".name-s-result",function(){
            let innerTextOfSearchResElement = this.innerText;
            let textsOfSearchResEl = innerTextOfSearchResElement.split('.');
            let indexOfSearchedStudentsEl = textsOfSearchResEl[0]-1;
            let student = searchedStudents[indexOfSearchedStudentsEl];
            let comp = $( "#companySelectorId" ).val();
            window.location.href = `/files/generate?studentId=${student.id}&companyName=${comp}`;
        });
        
        
    });
</script>