@{
    ViewData["Title"] = "TAS";
}








@section Header{
    <nav class="navbar navbar-expand-xxl navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item ms-1 mt-xxl-0 mt-3">
                        <input class="form-control" id="search-query" type="search" placeholder="Поиск по фио" aria-label="Search">
                    </li>
                    <li class="nav-item ms-1 mt-xxl-0 mt-3">
                        <div class="input-group">
                            <button class="btn btn-secondary" id="manyprofilesTreatyId" type="button">Многопрофильный</button>
                            <select class="form-select" id="companySelectorId">
                            </select>
                        </div>                          
                    </li>
                    <li class="nav-item ms-1 mt-xxl-0 mt-3">
                        <div class="input-group">
                            <button class="btn btn-secondary" id="oneProfileTreatyId" type="button">Однопрофильный</button>
                            <input class="form-control btn-secondary" id="uploadFile" type="file"/>
                            <select class="form-select" id="selectionExcelType">
                                <option selected value="/files/uploadgroup">Группа с студентами</option>
                                <option value="/files/uploadrikvizit">Данные по компаниям</option>
                                <option value="/files/uploadpractic">Данные по практикам групп</option>
                            </select>
                        </div>
                    </li>
                    <li class="nav-item ms-1 mt-xxl-0 mt-3">
                        <a asp-action="Index" asp-controller="Admin"asp-route-pageType="@AdminPageType.Groups" class="nav-link text-secondary" aria-current="page">Просмотр данных</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}


<script>
    $(function(){
        FillCompanySelectorId();
        function FillCompanySelectorId()
        {
            $.get("/companies/", function(data){
                for(let i = 0; i < data.length; i++)
                {
                    let options = $("#companySelectorId");
                    options.append(new Option(data[i], data[i], i == 0));
                }
            });
        }
        function ShowMessage(text)
        {
            let el = $("<li></li>").text(text);
            $("#message").html(el);
            $("#message").slideToggle("slow");
            $("#message").delay(3000).slideToggle("slow");
        }
        $("#oneProfileTreatyId").click(function()
        {
            let files = $("#uploadFile")[0].files;
            if(files.length > 0 )
            {
                let fd = new FormData();
                fd.append("upload_file", true);
                fd.append("file", files[0], files[0].name)
                $.ajax(
                    {
                        url: $("#selectionExcelType").val(),
                        data: fd,
                        processData: false,
                        contentType: false,
                        type: "POST",
                        success: function (data) {
                            ShowMessage("Данные успешно загружены!");
                            
                        },
                        error: function(textStatus){
                            ShowMessage(`${textStatus.responseText}`);
                        }
                    }
                );
            }
        });
        
        
        
        let searchResIsShown = false;
        function ChangeSearchResultAnimationAppear(data) {
            if (searchResIsShown) 
            {
                $("#search-result").animate({ left: '500px', opacity: 0 }, 500, "", function() {
                    $("#search-result").text("");
                    for(let i = 0; i < data.length; i++){
                        let contentEl = $("<li></li>").text(`${i+1}.${data[i].name}(${data[i].group})`).addClass("name-s-result");
                        $("#search-result").append(contentEl);
                    }
                });
            }
            $("#search-result").animate({left: '250px', opacity: 1});
        }
        function ChangeSearchResultAnimationDisappear() {
            $("#search-result").animate({left: '0'});
        }
        let searchedStudents;
        function SearchNames(){
            let val = $("#search-query").val();
            if(val){
                let query = "/students/" + val;
                $.get(query,
                function(data){
                    searchedStudents = data;
                    if (!searchResIsShown) {
                        $("#search-result").text("");
                        for(let i = 0; i < data.length; i++){
                            let contentEl = $("<li></li>").text( `${i+1}.${data[i].name}(${data[i].group})`).addClass("name-s-result");
                            $("#search-result").append(contentEl);
                        }
                        $("#search-result").slideDown("slow");
                    }
                    
                    ChangeSearchResultAnimationAppear(data);
                    searchResIsShown = true;
                });
            }
        }
        $("#search-query").click(SearchNames).keypress(function(event){
          var keycode = (event.keyCode ? event.keyCode : event.which);
          if(keycode == '13'){
            SearchNames();  
          }
        });
        $("#search-result").click(function() {
            ChangeSearchResultAnimationDisappear();
            $("#search-result").slideUp("slow");
            searchResIsShown = false;
        });
        $("#manyprofilesTreatyId").click(function(){
            let comp = $( "#companySelectorId" ).val();
            window.location.href = `/files/generatemanyprofile?&companyName=${comp}`;
        });
        $("#search-result").on("click", ".name-s-result",function(){
            let innerTextOfSearchResElement = this.innerText;
            let textsOfSearchResEl = innerTextOfSearchResElement.split('.');
            let indexOfSearchedStudentsEl = textsOfSearchResEl[0]-1;
            let student = searchedStudents[indexOfSearchedStudentsEl];
            let comp = $( "#companySelectorId" ).val();

            if(comp)
                window.location.href = `/files/generate?studentId=${student.id}&companyName=${comp}`;
            else
                ShowMessage("Укажите компанию");

            
        });
        
        
    });
</script>